/* Adicionar Código CSS */

body {
    background-color: burlywood;
}

h2 {
    color: brown;
    text-align: center;
}

table {
    background-color: blueviolet;
    color: white;
    margin: 0 auto;
}